@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

*{
    margin: 0 auto;
    padding: 0;
}

body{

    font-family: 'Oxanium', cursive;
    background-color: rgb(45, 48, 49);
    color: white;

}

.flex{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    height: 100vh;

}


#relogio{

    display: flex;
    align-items: center;
    position: relative;
    float: left;
    height: 300px;
    width: 300px;
    /* margin: 20vh 0px 0px 30vh; */
    border-radius: 300px;
    border: 1.5px solid white;
    background-color:rgba(0,0,0,0);
    
}


#dentro-relogio{

    margin: 0 auto;

}

#opcoes{

    /* margin-left: 0px; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* max-width: 150px; */

}

.botoes{

    font-size: 50px;
    padding: 3px 40px;
    margin: 15px 0px;
    background-color:rgba(0,0,0,0);
    border: 1.5px solid white;
    color: white;

}


h1{
    font-size: 20pt;
}

#texto{

    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    height: 60vh;
    width: 40vh;
    padding-left: 40px;
    border-left: 2px solid rgb(226, 15, 15);
    margin-top: 100px;

}

#timer{

    display: flex;

}

#som-mute{

    background-color:rgba(0,0,0,0);
    border: 1.5px solid white;
    color: white;
    height: 30px;
    width: 40px;
    padding: 3px;

}

#reset{

    background-color:rgba(0,0,0,0);
    border: 1.5px solid white;
    color: white;
    height: 30px;
    width: 40px;
    padding: 3px;
    

}
